<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de arquivos de projetos</div>
                <div class="panel-body">
                    <a ng-href="#/projects/{{project_id}}/files/new" class="btn btn-info">Adicionar Novo</a>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>
                                Nome
                            </th>
                            <th>
                                Descrição
                            </th>
                            <th>
                                Ação
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="f in files">
                            <td>
                                <a ng-href="/project/{{project_id}}/file/{{f.id}}/download" target="_blank">{{f.name}}</a>
                            </td>
                            <td>
                                {{f.description | limitTo:50}}...
                            </td>
                            <td>
                                <a ng-href="#/projects/{{project_id}}/files/{{f.id}}/edit" class="btn btn-success">Editar</a>
                                <a ng-href="#/projects/{{project_id}}/files/{{f.id}}/remove" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>